@model WebAdmin.Models.NHANVIEN
@{
    ViewBag.Title = "Thông tin chi tiết nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT NHÂN VIÊN</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="devit-card-custom">
                            <div class="form-group">
                                Tài khoản:
                                @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Tên nhân viên:
                                @Html.TextBoxFor(model => model.TenNV, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Quyền truy cập
                                @if (Model.Quyen == true)
                                {
                                    <i class="fas fa-toggle-on"></i>
                                }
                                else
                                {
                                    <i class="fas fa-toggle-off"></i>
                                }
                            </div>
                            <a href="@Url.Action("SuaNhanVien", new { id=Model.TaiKhoan})" class="btn btn-primary waves-effect waves-light">Edit</a>
                            <a href="@Url.Action("Index")" class="btn btn-primary waves-effect waves-light">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

